<Config>
  <Player Sprite = "green.png" XPos ="16" YPos = "16" Width = "32" Height = "32" Collidable = "true" Speed = "150"></Player>
  <Rock Sprite = "rock.png" XPos ="10" YPos = "10" Width = "76" Height = "76" Collidable = "true"></Rock>
  <Woods Sprite = "woods.png" XPos ="10" YPos = "10" Width = "76" Height = "76" Collidable = "true"></Woods>
</Config>